<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
	<servlet>
		<servlet-name>ConnServlet</servlet-name>
		<servlet-class>uts.isd.controller.ConnServlet</servlet-class>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>CartSearchController</servlet-name>
		<servlet-class>uts.isd.controller.CartSearchController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RemoveItemCartController</servlet-name>
		<servlet-class>uts.isd.controller.RemoveItemCartController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>OrderSearchController</servlet-name>
		<servlet-class>uts.isd.controller.OrderSearchController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RemoveOrderController</servlet-name>
		<servlet-class>uts.isd.controller.RemoveOrderController</servlet-class>
	</servlet>
        <servlet>
            <servlet-name>AddOrderController</servlet-name>
            <servlet-class>uts.isd.controller.AddOrderController</servlet-class>
        </servlet>
        <servlet>
            <servlet-name>AddItemCartController</servlet-name>
            <servlet-class>uts.isd.controller.AddItemCartController</servlet-class>
        </servlet>
        <servlet>
            <servlet-name>SubmitOrderController</servlet-name>
            <servlet-class>uts.isd.controller.SubmitOrderController</servlet-class>
        </servlet>
	<servlet-mapping>
		<servlet-name>ConnServlet</servlet-name>
		<url-pattern>/ConnServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CartSearchController</servlet-name>
		<url-pattern>/CartSearchController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RemoveItemCartController</servlet-name>
		<url-pattern>/RemoveItemCartController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>OrderSearchController</servlet-name>
		<url-pattern>/OrderSearchController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RemoveOrderController</servlet-name>
		<url-pattern>/RemoveOrderController</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>LoginController</servlet-name>
		<servlet-class>uts.isd.controller.LoginController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginController</servlet-name>
		<url-pattern>/LoginController</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>RegisterController</servlet-name>
		<servlet-class>uts.isd.controller.RegisterController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RegisterController</servlet-name>
		<url-pattern>/RegisterController</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>LogoutController</servlet-name>
		<servlet-class>uts.isd.controller.LogoutController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LogoutController</servlet-name>
		<url-pattern>/LogoutController</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AccountController</servlet-name>
		<servlet-class>uts.isd.controller.AccountController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AccountController</servlet-name>
		<url-pattern>/AccountController</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UpdateAccountController</servlet-name>
		<servlet-class>uts.isd.controller.UpdateAccountController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateAccountController</servlet-name>
		<url-pattern>/UpdateAccountController</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>LogsController</servlet-name>
		<servlet-class>uts.isd.controller.LogsController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LogsController</servlet-name>
		<url-pattern>/LogsController</url-pattern>
	</servlet-mapping>
        <servlet-mapping>
            <servlet-name>AddOrderController</servlet-name>
            <url-pattern>/AddOrderController</url-pattern>
        </servlet-mapping>
        <servlet-mapping>
            <servlet-name>AddItemCartController</servlet-name>
            <url-pattern>/AddItemCartController</url-pattern>
        </servlet-mapping>
        <servlet-mapping>
            <servlet-name>SubmitOrderController</servlet-name>
            <url-pattern>/SubmitOrderController</url-pattern>
        </servlet-mapping>
	<session-config>
		<session-timeout>
			30
		</session-timeout>
	</session-config>
</web-app>